<?xml version="1.0"?>
<tool_dependency>
	<package name="quast" version="2.3">
		<repository name="package_quast_2_3" owner="{Tool Shed user name of the user who will upload the tool to Tool Shed}" toolshed="{Tool Shed URL}"/>
	</package>
</tool_dependency>

